* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin:0;
  padding:0;
  font-family: 'Public Sans';
  font-size: 18px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 5px 5px;
}


.row {margin: 5px -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;
}


.whole-body{
  background-color: #f0f0f0;

}
.body-container {
  background-position-x: 0rem;
  background-position-y: -1rem;
  min-height: 35rem;
}
.body-text{
  position: absolute;
  width: 35%;
  top: 10rem;
  left: 7rem;
  font-family: 'Public Sans';
  font-size: 18px;
  font-weight: 700;
  
}

.body-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute; 
  top: -1rem;
  right: -12rem;
}
#header-image-resize{
  max-width:800px; 
  min-height: auto;
}
.gradient-button{
  background-image: linear-gradient(to right, #22e4ac , #1BD7BB 51%, #14C9CB 100%);
  border: none;
  text-align: center;
  padding: 8px 12px;
  font-size: 15px;
  color:white;
  border-radius: 10px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
}
.middle-body{
    min-height: 35rem;
    margin-top: 5rem;
}
.middle-body-text{
  position: relative;
  left: 6rem;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.latest-article-text{
  margin-left: 300px;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;

}
.latest-article{
  position: relative;
  top: 8rem;
  padding-bottom: 12rem;
  min-height: 40rem;
  margin-top: -1.566rem;
  min-height: 35rem;
}
.latest-article-col{
  display: flex;
  justify-content:space-evenly;
  position: relative;
}
.latest-article-col-single{
  margin: 1rem;
}
.image-resize{
  max-width:250px; 
  height: auto;

}
.latest-article-col-single-most-left-image-resize{
  max-width:250px;
  max-height: 167px;
}

.paragraph{
  font-weight: 300;
  color: gray;
  font-family: 'Public Sans';
  font-size: 18px;
}

/*  Footer + navbar*/


/*  SECTIONS  */

.section-header {
	clear: both;
  padding: 0px;
	margin: 0px;
  background-color: white;
  margin-top: 10px;

}
a{
  text-decoration: none; 
  color:gray; 
  margin-right: 10px; 
  font-size: large;
}

.section {
	clear: both;
	padding: 20px;
	margin: 0px;
  background-color:  #36454f;

}
li{
  list-style-type: none;
  color:white;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

